Android*/
bleachbit/
calibre/
cef_user_data/
flutter/
geany/
goa-1.0/
gtk*/
gwe/
heroic/
JetBrains/
Kingsoft/
*egendary/
micro/
menu/
*icrosoft*/
notion*/
obs*/
qBit*/
team*/
What*/
kconfi*
kde*
kwall*
mime*
okular*
pavu*
zoomus*
user-dirs.dirs
user-dirs.locale
*tom*/
*ode*/
libre*/
*hrome*/
garuda/
*itw*/